In [35]:
# this file is to generate new schedule (ie. stop_times.txt) when add or remove bus routes

#NEXT!

start a new .py file for functions
filter_stoptimes_by_route

or 

working on **remove** routes tool

In [3]:
import pandas as pd

**Below is a temporary block for typing in parameters for new route 6A. will convert to read in version.**

1. get stop_id of route 30, 34 and 36, which are combined into the new route "6A"
  
  a. **trips.txt** maps each route_id with multiple trip_id. **stop_times.txt** maps each trip_id to multiple stop_id. 
  
  b. we can get all the stop_id for route 30, 34, 36 from file **trips.txt** and **stop_times.txt**'


2. get travel time of every sequence stops, based on schedule of route 30, 34 and 36

In [9]:
# stop_id are made up based on get_stopinfo_6A.ipynb 
stop_list = [9237,9175,9373,9918,9364,9100,9642,9378,9564,9802,9288,1420,1751,1309,1105,7100,7169,7167,7209,7633,9167,9811,9277,9243,9439,9137,9745,9951,9645,9291,9432,9719,9677,9800,9783,9391,9351,9140,9310,9620,9863,9917,9928,9422,9800]

freq = 30 # regularly scheduled every 30 minutes

firststart_time = "9:00:00"

laststart_time = "12:00:00"

In [12]:
stop_times = pd.read_csv(r"mmt_gtfs/stop_times.txt", sep = ",", engine = "python")

stop_times.head()

,trip_id,stop_sequence,stop_id,pickup_type,drop_off_type,arrival_time,departure_time,timepoint,stop_headsign,shape_dist_traveled
0,904927,1,2561,0,1,9:56:00,9:56:00,1,CAPITOL SQUARE,0.0210
1,904927,2,2605,0,0,9:56:55,9:56:55,0,CAPITOL SQUARE,0.1979
2,904927,3,2717,0,0,9:57:51,9:57:51,0,CAPITOL SQUARE,0.3775
3,904927,4,2921,0,0,9:58:51,9:58:51,0,CAPITOL SQUARE,0.5692
4,904927,5,133,0,0,10:00:00,10:00:00,1,CAPITOL SQUARE,0.7875

In [18]:
for i in range(len(stop_list)):
    upstop = stop_list[i]
    downstop = stop_list[i+1]
    
    for j in range(len(stop_times)):
        if stop_times['stop_id'][j] == upstop & stop_times['stop_id'][j+1] == downstop & stop_times['stop_sequence'][j+1]-stop_times['stop_sequence'][j] == 1:
            t = stop_times['arrival_time'][j+1]-stop_times['arrival_time'][j]

SyntaxError: invalid syntax (<ipython-input-18-01f2b6055fa7>, line 7)

In [27]:
j = 0
t = stop_times['arrival_time'][j]
s = stop_times['arrival_time'][j+1]
t-s

TypeError: unsupported operand type(s) for -: 'str' and 'str'

In [34]:

a = pd.to_datetime(stop_times.arrival_time, format = "%H:%M:%S")

ValueError: time data '24:01:00' does not match format '%H:%M:%S' (match)